body{
    margin: 0%;
    padding: 0%;
    position: initial;
}
.navbar{
    width: 100%;
    text-align: right;
}
.nav-link{
    float: right;
    font-size: 20px;
}
.center-crop{
    padding: 0%;
    margin: 0%;
    max-height: 400px;
    min-height: 300px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.card{
    border-right-color: yellow;
}
.carousel-inner img {
    width: 100%;
    max-height: 460px;
}

.footer {
    background: #061D25;
    padding: 10px 0;

  }
  .footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
    
  }
  .footer a:first-child {
    border-left: 1px solid #70726F;
  }
  .footer a:hover {
    color: white;
  }