body{
    margin: 0%;
    padding: 0%;
    position: initial;
}
.navbar{
    width: 100%;
    text-align: right;
}
.nav-link{
    float: right;
    font-size: 20px;
}
.center-crop{
    padding: 0%;
    margin: 0%;
    max-height: 400px;
    min-height: 300px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.card{
    border-right-color: yellow;
}
.carousel-inner img {
    width: 100%;
    max-height: 460px;
}

.footer {
    background: #061D25;
    padding: 10px 0;

  }
  .footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
    
  }
  .footer a:first-child {
    border-left: 1px solid #70726F;
  }
  .footer a:hover {
    color: white;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}